<div id="fullpage">
	<div class="row section" id="one">
		<section="small-12 columns" id="headerSection">
			<header>
				<h1> Craig David </h1>
				<h2> by Ella Mahony & Clare Trembath</h2>

			</header> 
		</section>

	</div>
	
	<div class="row section" id="two">
		 Craig stared into the tank. A Bluegrey Carpetshark wriggled it's way across the base, coming right up to the glass before making a sharp turn to the right. It wasn't a particularly interesting shark. Still, it was the only shark that had bothered to come up and say hello. Craig sidestepped over to the far wall to read the information about the Bluegrey Carpetshark. 
	</div>

	<div class="row section" id="three">		
		'Australia’s northeastern coast is home to this small and uncommon bottom-dweller, known as Brachaelurus colcloughi. It is a prime example of the ordinary, poorly known species that are easily forgotten when it comes to shark conservation. Yet these cryptic critters are just as important to marine ecosystems as the big, flashy sharks that grab all the attention.'
	</div>

	<div class="row section" id="four">
		Sounds familiar, Craig thought. Takes one to know one. He kicked the bottom of the tank suddenly, thoughts of 1999 poured in from all around. It wasn't as if he was a 'bottom-dweller', number 2 in the Official UK Charts is certainly not bottom-dwelling. Number 2 is right beneath the water's surface, the warm shallows of success, one stroke away from breaking the surface and.. FUCK CLIFF RICHARD! How the fuck did 'The Millenium Prayer' shit get the number one spot?
			 
		https://www.youtube.com/watch?v=OsgUUSBwOw0
			 
		He didn't even write the fucking lyrics! Whose fucking idea was it to release Re-rewind at Christmastime?
	</div>

	<div class="row section" id="four">
		 Craig took deep and steadying breathes to calm himself. He stared back into the aquatic tank and muttered his secret mantra to himself under his breath. "Monday..." Craig crooned, "took her for a drink on Tuesday", he was feeling better already, "we were making love by Wednesday", yes they were, "and on Thursday & Friday & Saturday we chilled on Sunday" chilled, chill, calm.
	</div>

	<div class="row section" id="five">
		Craig pressed his hands against the glass of the tank and raised his eyes to the surface. A great Hammerhead shark haloed darkly up above. His therapist had said it was important to remember one's achievements, but equally important not to live in the past. Craig had never properly considered that not only was the hammerhead shark's head the shape of a hammer, but that it's flesh was the colour of dull metal, as if it's body had been used. 
	 
	</div>
	
	<div class="row section" id="six">
		Craig moved over to a tank of jellyfish, watching them undulate he was glad there was a sheet of high strength acrylic plastic between them. His hands were itching to plunge themselves into the brightly coloured domes and frills. This impulse tasted like the sweet pain of childhood.
	</div>

	<div class="row section" id="seven">
	 Craig took out his iphone and scrolled through his artists hovering over his on name. He selected a song and let it play out as he watched the creatures expand and contract. 
	 
	https://www.youtube.com/watch?v=07JQ29UVd2I
	</div>
	 <div class="row section" id="eight">
	 	Jellyfish have been expanding and contracting for over 500 million years, Craig thought. Craig wondered how many times 7-days could play in 500 million years. 
	 </div>
	 
</div>